<!DOCTYPE html>
<html>
	<head>
		{% include site-head.html %}
		
	</head>
	<body class="{{ site.doks.color_theme }}">
            <p data-target="section-1" class="accordion">
                Expand Section 1
            </p>
            <div id="section-1" style="display: none">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
        {% include site-footer.html %}
	</body>
</html>
