/**
 * Nav grid (components/_nav-grid.scss)
 */

/* ----- General ----- */
.nav-grid {
	font-size: .9375em;
	line-height: 1.8em;
	color: $color-dark-blue;
}

.nav-grid--out {
	@media (min-width: $screen-sm-min) {
		margin-top: 1rem;
	}
}

/* ----- Item ----- */
.nav-grid__item {
	@include link-reset;
	display: block;
	//background-color: #fc9935;
	background-color: $color-theme-alternative;
	border: 1px solid $color-theme-main;
	margin-bottom: .9375rem;
	transition: background-color .2s, border .2s;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 1.875rem;
	}
}

.nav-grid__btn_text {
	&:hover,
	&:active,
	&:focus {
		font-weight: bold;
	}

	border-bottom: 0px;
		
	a {
		border-bottom: 0px;
	}
}

.nav-grid__sublink {
	@include link-reset;
	display: block;
	//background-color: #fc9935;
	background-color: $color-theme-alternative;
	color: $font-color-alternative2;
	font-weight: 500;
	font-family: $font-family-secondary;
	margin-bottom: 0rem;
	padding: 1rem 1.875rem 0 1rem;
	text-transform: uppercase;
	transition: background-color .2s, border .2s;
}

.nav-grid__sublink {
	&:hover,
	&:active,
	&:focus {
		font-weight: bold;
	}

	a {
		border-bottom: 0px;
	}
}

/* ----- Content ----- */
.nav-grid__content {
	@include clearfix();
	padding: 1rem 1rem 1rem 1rem;

	@media (min-width: $screen-md-min) {
		padding: 1rem 1rem 1rem 1rem;
	}

	p {
		margin-bottom: .625rem;
	}
}

/* ----- Title ----- */
.nav-grid__title {
	display: block;
	font-size: $font-size-h3;
	font-weight: 500;
	color: $font-color-alternative;
	padding: 0;
	margin-top: 0;
	border: 0;
}

.nav-grid__description {
	color: $font-color-alternative;
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
}

/* ----- Read more ----- */
.nav-grid__btn {
	font-family: $font-family-secondary;
	font-weight: 500;
	color: $font-color-alternative2;
	text-transform: uppercase;
	border-top: 1px solid $color-theme-main;
	padding: 1rem 1.875rem 1rem 1rem;
	transition: border .2s;

	@media (min-width: $screen-md-min) {
		padding: 1.25rem 2.5rem 1rem 1rem;
	}

	.icon {
		display: inline-block;
		font-size: 1.25em;
		margin-left: .5rem;
		position: relative;
		bottom: -.125rem;
		transition: transform .2s;
	}
}

p.accordion-button {
	cursor: pointer;
	margin-bottom: 0rem;
	padding-bottom: 0rem;
}
