main.page h2 {
  font-size: 18pt;
}

main.page div.theme-default-content h2 {
  margin-bottom: 1vh;
  margin-top: 0vh;
  padding-top: 2vh;
}

main.page div.theme-default-content h3 {
  padding-top: 0px;
  margin-bottom: 5px;
  margin-top: 10px;
}

main.page p {
  padding-bottom: 8px;
}

main.page ul, .training-menu ul {
  list-style-type: disc;
  margin-left: 15px;
}

.page h1 {
  font-size: 24pt;
}

.page li {
  list-style-type: disc;
}

.page ul {
  padding-bottom: 1vh;
}

.training-menu .menu-detail {
  border: 2px solid #205f89;
  border-radius: 10px;
  color: #000000;
  padding: 20px;
}

.training-menu .menu-detail, .training-menu .menu-detail a {
  font-family: Open Sans;
  font-weight: 600;
}

.training-menu .menu-detail a {
  color: rgb(250,150,0)
}

.training-menu .menu-option {
  border: 2px solid #205f89; 
  border-radius: 10px;
  color: black;
  font-size: 13pt;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
}

.training-menu button.highlight {
  background-color:#205f89;
  color: white;
}

.training-menu p {
  font-family: Open Sans;
  margin-bottom: 8px;
}

.training-menu ul {
  margin-bottom: 8px;
}

.training-menu .question {
  color: #205f89;
  font-family: Khand;
  font-weight: bold;
  font-size: 24pt;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-bottom: 0px;
}